@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color: hsl(259deg 100% 88%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(251deg 46% 6%);
  --container-color: #FFF;

/*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}
body,
button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: hsl(0deg 0% 100% / 63%);
  transition: .4s;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

h1,h2,h3{
  color: hsl(259deg 100% 88%);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none; 
}

img{
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 2rem 0 1rem;
}

.section__title,
.section__title-center{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
}

.section__title-center{
  text-align: center;
}

.container{
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.container2{
  max-width: 968px;
}

.grid{
  display: grid;
}

.main{
  overflow: hidden; /*For animation*/
}

/*=============== HEADER ===============*/
.header{
  width: 100%;
  background-color: hsl(251deg 63% 8%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav__toggle,
.nav__close{
  color: #FFF;
}

.nav__logo{
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -0.4px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.2rem;
  color: #ea9d8f;
}


.nav__toggle{
  display: inline-flex;
  font-size: 1.5rem;
  cursor: pointer;
}


@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: #0b0816f5;
    width: 60%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
    z-index: var(--z-fixed);
  }
}

.nav__close{
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link{
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

/* Active link */
.active-link{
  position: relative;
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home{
  padding: 1.5rem 0 2rem;
}

.home__container{
  position: relative;
  row-gap: 2rem;
}
.home__img{
  width: 300px;
  justify-self: center;
}
.home__title{
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
}

.home__description{
  margin-bottom: var(--mb-2-5);
}


/*=============== BUTTONS ===============*/
.button{
  display: inline-block;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  padding: 1rem 9.6rem;
  border-radius: 3rem;
  font-weight: var(--body-font);
  font-size: 1rem;
  transition: .3s;
  color: #FFF;
}

.button__icon{
  transition: .3s;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

/*=============== WHY ===============*/

.why{
  padding: 1rem 0 1rem;
}

.why__container2{
  row-gap: 3.2rem;
}

.why__img{
  width: 200px;
  justify-self: center;
  padding: 1.5rem 0 1.5rem;
}

.why__title{
  font-size: 1.7rem;
  text-align: center;
  line-height: 140%;
  margin-bottom: var(--mb-1.5);
}

.why__bg{
  background-color: #2c234938;
  padding: 1rem 1.5rem 2rem;
  border-radius: 1.8rem;
}

.why__card-title{
  color: #FFF;
  text-align: center;
  margin-bottom: var(--mb-0-5);
}

.why__card-description{
  text-align: center;
}

.why__card{
  padding: 1rem 1rem 1rem 1rem;
}

/*=============== CATEGORY ===============*/

.category{
  padding: 2rem 0 1rem;
}

/*.category__img{
  width: 300px;
  justify-self: center;
  padding: 1rem 2.1rem 3rem 5rem;
}
*/

.category-card__img{
  width: 300px;
  justify-self: center;
}

.category__bg{
  padding: 2rem 2rem 2rem;
}


.category__container{
  gap: 2.5rem;
  padding-bottom: 1.3rem;
}

.category__title{
  font-size: 1.7rem;
  line-height: 140%;
  margin-bottom: var(--mb-1.5);
}

.category__card{
  background-color: #130e21;
  padding: 2.8rem 2rem 0rem 2rem;
  border-radius: 1.3rem;
}
.category__card-title{
  padding: 2rem 2rem 2rem 2rem;
  font-size: 1.3rem;
  color: #FFF;
  text-align: center;
}

.category__card:hover {
  transform: translateY(-.25rem);
}

/*=============== QUESTIONS ===============*/

.questions{
  padding: 2rem 0 1rem;
}
.questions__container{
  gap: 2.5rem;
}

.questions__group{
  display: grid;
  row-gap: 3rem;
  
}

.questions__img{
  width: 200px;
  justify-self: center;
}

.questions__title{
  font-size: 1.7rem;
  text-align: center;
  line-height: 140%;
  margin-bottom: var(--mb-1.5);
}

.questions__bg{
  background-color: #2c234938;
  padding: 2.5rem 0.5rem 2.5rem;
}

.questions__item{
  background-color: hsl(251deg 46% 6%);
  border-radius: 5rem;
}

.questions__item-title{
  font-size: var(--small-font-size);
  color: #FFF;
  font-weight: var(--font-medium);
}

.questions__icon{
  font-size: 1.25rem;
  color: hsl(259deg 100% 88%);
}

.questions__description{
  font-size: var(--smaller-font-size);
  padding: 0 1.25rem 1.25rem 2.5rem;

}

.questions__section{
  padding: 1rem 0 3.5rem;
}
.questions__header{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  padding: .75rem .5rem;
  cursor: pointer;
}

.questions__content{
  overflow: hidden;
  height: 0;
}

.questions__item,
.questions__header,
.questions__item-title,
.questions__icon,
.questions__description,
.questions__content{
  transition: .3s;
}

.questions__item:hover{
  box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
}

/*Rotate icon, change color of titles and background*/
.accordion-open .questions__header,
.accordion-open .questions__content{
  background-color: hsl(251deg 46% 6%);
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon{
  color: #FFF;
}

.accordion-open .questions__icon{
  transform: rotate(45deg);
}

/*=============== about ===============*/

.about{
  padding: 0rem 0rem;
}

.about__title{
  font-size: 1.7rem;
  text-align: center;
  line-height: 140%;
  margin-bottom: var(--mb-1.5);
}

.about__bg{
  padding: 1rem 1.5rem 1rem;
}

.about__card-description{
  text-align: center;
}

/*=============== FOOTER ===============*/
.footer{
    padding: 0rem 0rem;
}
.footer__container{
  row-gap: 3rem;
  padding: 2rem 0 1rem;
}

.footer__bg{
  padding: 1rem 1.5rem 1rem;
}

.footer__logo{
  display: inline-flex;
  align-items: center;
  column-gap: .3rem;
  color: hsl(9deg 68% 74%);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: var(--mb-2-5);
  transition: .3s;
}

.footer__logo-icon{
  font-size: 1.15rem;
  color: hsl(9deg 68% 74%);
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__data{
  display: grid;
  row-gap: .7rem;
}

.footer__information{
  font-size: var(--small-font-size);
}

.footer__social{
  display: inline-flex;
  column-gap: .75rem;
}

.footer__social-link{
  font-size: 1rem;
  color: var(--text-color);
  transition: .3s;
}

.footer__social-link:hover{
  transform: translateY(-.25rem);
}

.footer__copy{
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin: 5rem 0 1rem;
}


