@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color: hsl(259deg 100% 88%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(251deg 46% 6%);
  --container-color: #FFF;

/*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}
body,
button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  margin: var(--header-height) 0 0 0;
  background-color: hsl(16deg 100% 98%);
  color: hsl(0deg 0% 100% / 63%);
  transition: .4s;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

h1,h2,h3{
  color: hsl(0deg 0% 6%);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none; 
}

img{
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 2rem 0 1rem;
}

.section__title,
.section__title-center{
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  line-height: 140%;
}

.section__title-center{
  text-align: center;
}

.container{
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.container2{
  max-width: 968px;
}

.container2{
  margin-left: auto;
  margin-right: auto;
}


.grid{
  display: grid;
}

.main{
  overflow: hidden; /*For animation*/
}

/*=============== HEADER ===============*/
.header{
  width: 100%;
  background-color: hsl(16deg 100% 98%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav__toggle,
.nav__close{
  color: #0f0f0f;
}

.nav__logo{
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: -0.4px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.2rem;
  color: #0f0f0f;
}


.nav__toggle{
  display: inline-flex;
  font-size: 1.5rem;
  cursor: pointer;
}


@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: #ffffff;
    width: 60%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
    z-index: var(--z-fixed);
  }
}

.nav__close{
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link{
  color: hsl(0deg 0% 6%);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

/* Active link */
.active-link{
  position: relative;
  color: hsl(0deg 0% 6%);
}

/*=============== HOME ===============*/
.explore{
  padding: 1.3rem 0 0rem;
}

.home__container{
  position: relative;
  row-gap: 2rem;
}
.Exp__img{
  width: 300px;
  justify-self: center;
}
.home__title{
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
}

.home__description{
  margin-bottom: var(--mb-2-5);
}

/*=============== STEPS ===============*/
.steps__bg{
  background-color: #ffffff;
  padding: 1rem 1rem 2rem;
  border-radius: 1rem;
}

.step__description{
  margin-bottom: var(--mb-2-5);
  text-align: center;
}

.steps__container{
  gap: 1.5rem;
}

.steps__title{
  color: hsl(0deg 0% 6%);
}


.yt__video__edit{

  height: 200px;
  position: relative;
  justify-content: center;
}

.steps__card{
  background-color: #fff7f4;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
}

.step__description{
  color: #0f0f0f;
}


.steps__card-title{
  font-size: var(--h3-font-size);
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.steps__card-description{
  font-size: var(--small-font-size);
  color: #fcaf78;

}

.steps__card:hover .steps__card-number{
  transform: translateY(-.25rem);
}

.footer{
    padding: 0rem 0rem;
}
.footer__container{
  padding: 2rem 1.1rem 1rem;
}

.footer__content{
  text-align: center;
  padding-bottom: 1.3rem;
}


.footer__bg{
  background-color: #fff7f4;
  padding: 1rem 1rem 1rem;
  border-radius: 1.8rem;
}

.footer__logo{
  display: inline-flex;
  align-items: center;
  color: hsl(0deg 0% 6%);
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 1rem;
  font-size: 1.15rem;
}


.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__data{
  display: grid;
  row-gap: .7rem;
}

.footer__information{
  font-size: var(--small-font-size);
  color: hsl(0deg 0% 6%);
}

.footer__social{
  display: inline-flex;
  column-gap: .75rem;
}

.footer__social-link{
  font-size: 1rem;
  color: var(--text-color);
  transition: .3s;
}

.footer__social-link:hover{
  transform: translateY(-.25rem);
}

.footer__copy{
  text-align: center;
  font-size: var(--smaller-font-size);
  color: hsl(0deg 0% 6%);
  margin: 1rem 0 1rem;
}

.footer__copy__link{
  text-decoration: none;
  color: hsl(235deg 100% 86% / 78%);
}

.footer__social{
  justify-self: center;
  column-gap: .75rem;
}

@media screen and (min-width: 593px){

  .steps__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

}

@media screen and (min-width: 767px){

  .nav{
    height: calc(var(--header-height) + 1rem);
    column-gap: 3rem;
  }

  .nav__toggle,
  .nav__close{
    display: none;
  }

  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__menu{
    margin-left: auto;
  }

  .steps__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .section__title-center{
    font-size: 2rem;
  }

}

/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

}

